/*

sky blue #597CA2
evergreen #4B5B51
chalk white #C1B290
white #E9DFC3
gray #837B6E
light green #868E15
cloud white #D8D5CB

*/
@import url("https://fonts.googleapis.com/css?family=Alegreya|Oswald|Arvo");
body {
  background: #4B5B51;
  overflow-x: hidden; }

em {
  font-style: italic; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arvo', serif;
  cursor: default; }

p {
  font-family: 'Oswald', sans-serif; }

a {
  font-family: 'Oswald', sans-serif;
  color: #868E15; }
  a:hover {
    color: #D8D5CB; }

/* Parallax */
.keyart, .keyart_layer {
  height: 150vh; }

.keyart_layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  z-index: -1; }

.keyart_layer.parallax {
  position: fixed; }

#hero-mobile {
  display: none;
  background: url(../assets/images/mountains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh; }
  #hero-mobile h1 {
    color: #4B5B51;
    background-color: rgba(255, 255, 255, 0.5); }

.content {
  height: 100vh; }

.clouds {
  background-image: url(../assets/images/clouds.png); }

.mountains {
  background-image: url(../assets/images/mountains.png); }

.hills {
  background-image: url(../assets/images/hills.png); }

.footer_keyart {
  background-image: url(../assets/images/footermod.png); }

/* Headings */
.display-1 {
  font-family: 'Arvo', serif; }

.display-1.name {
  color: #4B5B51;
  position: relative;
  top: 50px;
  left: 50px; }

.display-1.pitch {
  color: #C1B290;
  position: relative;
  top: 600px;
  left: 200px;
  z-index: 9999; }

.display-1.pitch-end {
  color: #E9DFC3;
  position: relative;
  top: 1000px;
  left: 600px;
  z-index: 9999; }

#leaf {
  position: absolute; }

/* Navbar */
.navbar {
  background: #214E66; }
  .navbar a {
    color: #E2ECEE;
    margin-right: 30px; }
  .navbar .fa-navicon {
    color: #E2ECEE; }

/* Footer */
.footer {
  height: 40px;
  line-height: 40px;
  background-color: #4B5B51; }
  .footer a {
    color: #F6F7FB;
    transition: 0.3s; }
    .footer a:hover {
      color: #868E15; }
    .footer a:not(:last-child) {
      margin-right: 30px; }

/* Sections */
.about {
  position: relative;
  top: 30%;
  background: rgba(0, 0, 0, 0.5);
  color: #E9DFC3; }

.main {
  background: #4B5B51; }

#work {
  padding: 20px;
  position: relative; }
  #work h1 {
    color: #C1B290; }

#about {
  line-height: 1.6; }
  #about h2 {
    color: #C1B290; }
  #about h1 {
    color: #E9DFC3; }
  #about .intro {
    color: #E9DFC3;
    font-size: 17px; }
  #about .additional {
    color: #C1B290; }
  #about .image-container {
    overflow: hidden;
    width: 100px;
    height: 100px; }
    #about .image-container img {
      width: 100%; }
  #about .blockquote {
    color: #E9DFC3; }

#contact {
  position: relative;
  overflow: hidden; }
  #contact .contact-content {
    position: absolute;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #E9DFC3;
    background: rgba(0, 0, 0, 0.7);
    bottom: 60px; }

/* Images */
.img-thumbnail {
  width: 300px;
  height: 300px;
  margin: 10px;
  transition: 0.3s;
  background-color: transparent;
  opacity: 0.8; }
  .img-thumbnail:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    opacity: 1; }

/* Buttons */
.btn-success {
  background: #4B5B51;
  border-color: transparent;
  border-radius: 0; }
  .btn-success:hover {
    background: #868E15;
    border-color: transparent; }
  .btn-success:not([disabled]):not(.disabled):active {
    background: #868E15;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(75, 91, 81, 0.5); }
  .btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(75, 91, 81, 0.5); }

/* Snow Toggle */
#snow-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999; }

@media only screen and (max-width: 576px) {
  #mountains-parallax {
    display: none; }
  #hero-mobile {
    display: block; }
  #leaves {
    display: none; }
  #contact .contact-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -60px; } }

@media only screen and (max-width: 768px) {
  .img-thumbnail {
    width: 100%;
    height: auto; }
  .display-1 {
    font-size: 3rem; }
  .display-2 {
    font-size: 2.5rem; } }
